@charset "UTF-8";
/* common */
@import "reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
/*
extraLight 200
light 300
regular 400
medium 500
semiBold 600
bold 700
black 900
*/
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  position: relative;
  color: #040404;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  /* 1920 - (140 * 2) = 1640px */
  /* -패딩값 30씩 */
  max-width: 1580px;
  margin: 0 auto;
  position: relative;
}

.point {
  color: #ff8737;
}

/* common  */
/* 스크롤 스타일 변경 */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightblue;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ccc;
}

::-webkit-scrollbar-button {
  background-color: #eee;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button:start {
  background-color: #eee;
  border-radius: 5px 5px 0 0;
}

::-webkit-scrollbar-button:end {
  background-color: #eee;
  border-radius: 0 0 5px 5px;
}

#loader i {
  z-index: 1001;
  font-size: 40px;
  color: white;
}

#loader {
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  z-index: 1000;
  text-align: center;
  transition: all 0.5s;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.header {
  margin-top: 31px;
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}
.header .inner {
  padding: 0 30px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 65px;
  height: 65px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-open {
  padding: 0 22px;
  min-width: 122px;
  width: 100%;
  height: 47px;
  border-radius: 28px;
  border: solid 1px #cfcfcf;
  background-color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3e3e3e;
}

.menu {
  width: auto;
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu svg {
  height: 100%;
}

.menu svg path {
  transition: all 0.3s;
}

.menu.on svg .line1 {
  transform: rotate(45deg) translate(2px, -6px);
}

.menu.on svg .line2 {
  transform: rotate(-45deg) translate(-3px, 12px);
}

.menu-lst {
  padding: 0 22px 0 16px;
  height: 100%;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  display: none;
}
.menu-lst.menuPop {
  display: block;
}
.menu-lst ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-lst a {
  font-weight: 500;
  color: #3e3e3e;
  margin-right: 30px;
}
.menu-lst a:last-child {
  margin-right: 0;
}

.main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
}
.main__title p {
  font-size: 50px;
  font-weight: 800;
}
.main__title p:last-child {
  font-size: 18px;
  font-weight: 400;
  color: #6d6d6d;
  margin-top: 20px;
}

.main__slide {
  margin-top: 108px;
}
.main__slide img {
  position: relative;
  height: 235px;
  left: 0;
}
.main__slide img:last-child {
  margin-top: -37px;
  right: 0;
}

.main__slide {
  overflow: hidden;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.main__slide .main01 {
  background-image: url("/img/main01.png");
}
.main__slide .main01,
.main__slide .main02 {
  width: 5280px;
  height: 235px;
  background-repeat: repeat-x;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  animation: bannermove01 50s linear infinite;
}
.main__slide .main02 {
  align-self: flex-end;
  margin-top: -37px;
  background-image: url("/img/main02.png");
  animation: bannermove02 50s linear infinite;
}

@keyframes bannermove01 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes bannermove02 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50%, 0);
  }
}
.about {
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.about .inner {
  padding: 158px 30px;
}
.about__title {
  font-size: 64px;
  font-weight: 700;
}

.about__wrap {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about__wrap .box {
  width: 100%;
  height: 90px;
  margin-bottom: 30px;
  padding: 0 36px;
  border-radius: 14px;
  border: solid 1px #040404;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__wrap .box:last-child {
  margin-bottom: 0;
}
.about__wrap .box p {
  font-size: 32px;
  font-weight: 600;
}
.about__wrap .box:hover {
  border: dashed 1px #cfcfcf;
  transition: all 0.3s;
}

.about_ani {
  position: absolute;
  width: 326px;
  height: 326px;
  background-color: #ffd754;
  border-radius: 50%;
  top: 100px;
  right: 30px;
  transition: all 0.3s ease-in-out;
}

.about_ani-big {
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
}

.project {
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.project .inner {
  padding: 158px 30px;
}
.project__title {
  font-size: 64px;
  font-weight: 700;
}

.project__wrap {
  margin-top: 95px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: inherit;
}

.swiper-slide {
  height: 347px;
  width: 389px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  border-radius: 20px;
  border: dashed 1px #cfcfcf;
  background-color: #fff;
  flex-direction: column;
}
.swiper-slide p {
  text-align: left;
  font-weight: 600;
  color: #444444;
  margin-top: 14px;
}
.swiper-slide p:last-child {
  color: #8f8f8f;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
  border-radius: 10px;
  height: 258px;
}

.swiper-slide-active {
  transition: all 0.2s;
  width: 667px !important;
  height: 513px;
  padding: 18px;
  border: solid 1px #040404;
  background-color: #fff;
}
.swiper-slide-active img {
  height: 416px;
  border-radius: 15px;
}
.swiper-slide-active p {
  font-size: 1.8rem;
  margin-top: 16px;
}
.swiper-slide-active p:last-child {
  font-size: 1.5rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 52px;
  height: 52px;
}

.swiper-button-adjustment {
  position: absolute;
  top: -53px;
  right: 0;
  width: 130px;
}

.swiper-button-prev {
  left: 0;
}
.swiper-button-prev:hover {
  content: url("/img/prevHover.png");
}

.swiper-button-next {
  right: 0;
}
.swiper-button-next:hover {
  content: url("/img/nextHover.png");
}

.floating1 {
  position: absolute;
  top: 25%;
  right: 20%;
  width: 173px;
  height: 173px;
  border-radius: 100%;
  background: #ff8737;
}

.floating2 {
  position: absolute;
  bottom: 15%;
  left: 36%;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: #ff8737;
}

.sub-title {
  position: absolute;
  bottom: 137px;
  right: 70px;
  font-size: 1.5rem;
  color: #484848;
  text-align: left;
  max-width: 536px;
  width: 100%;
  line-height: 2.6rem;
  align-self: self-end;
}

.swiper-container {
  overflow: visible;
}

.swiper-slide {
  opacity: 0.4;
  transition: opacity 0.3s;
}

.swiper-slide-active,
.swiper-slide-active + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide {
  opacity: 1;
}

.introduce {
  width: 100%;
  height: 100vh;
}
.introduce .title {
  font-size: 5.2rem;
  line-height: 8.4rem;
  font-weight: 600;
  padding: 147px 0 0 140px;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
}
.introduce .fancy {
  font-weight: 800;
}

#left-side {
  background-image: url("/img/leftSide.png");
  z-index: 1;
}

#right-side {
  background-image: url("/img/rightSide.png");
  z-index: 0;
}
#right-side .title {
  color: white;
  padding: 147px 0 0 140px;
}

.side {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-size: 100%;
  background-position: top right;
}

.contact {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.contact .inner {
  padding: 145px 30px;
  z-index: 1;
  position: relative;
}
.contact__title {
  font-size: 84px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__wrap {
  margin-top: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .box p {
  font-size: 2rem;
  font-weight: 500;
}
.contact .box p:last-child {
  margin-top: 18px;
  font-weight: 700;
}

.contactUs {
  position: absolute;
  top: 135px;
  right: 25%;
  display: none;
}
.contactUs p {
  max-width: 270px;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.contactHIdden {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 700px;
  z-index: 1;
  position: relative;
}

.contactArrow {
  width: 511px;
  stroke-dasharray: 950px;
  stroke-dashoffset: 950px;
  animation: contactArrowAni 1s linear 0s forwards;
  align-self: flex-end;
  margin-top: -20px;
}

@keyframes contactArrowAni {
  from {
    stroke-dashoffset: 950px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}
.contactBtn {
  font-size: 3.3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contactBtn:hover img {
  content: url("/img/contactBtnOrange.png");
}
.contactBtn img {
  width: 81px;
  height: 81px;
  margin-right: 24px;
}

.myCanvas {
  width: 100vw !important;
  height: 100vh !important;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

.subpage-title {
  font-size: 1.6rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 700;
  color: #3e3e3e;
  padding: 6px 16px;
  border-radius: 100px;
  border: solid 2px #ff8737;
  background: #fffdec;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.subpage-title_port {
  border: solid 2px #0052af;
  background: #ecf2ff;
}

.subpage-title_con {
  border: solid 2px #41b500;
  background: #f3ffec;
}

.about0 {
  background-color: white;
  position: relative;
  top: 0;
  z-index: -1;
}
.about0 .inner {
  padding: 213px 30px 125px;
  display: flex;
  flex-direction: column;
}
.about0__title {
  color: #040404;
}
.about0__title p {
  font-size: 1.8rem;
}
.about0__title p:last-of-type {
  font-size: 6.8rem;
  font-weight: 800;
  line-height: 90px;
  margin-top: 16px;
}

.about0__icon {
  margin-top: 105px;
  display: flex;
}
.about0__icon .box {
  margin-right: 167px;
}
.about0__icon .box:last-of-type {
  margin-right: 0;
}
.about0__icon .box img {
  width: 85.5px;
  height: 85.5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about0__icon .box p {
  color: #040404;
}
.about0__icon .box p:nth-of-type(1) {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 42px;
}
.about0__icon .box p:nth-of-type(2) {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #6d6d6d;
  max-width: 250px;
  width: 100%;
}

.about0__right {
  text-align: right;
  margin-top: 83px;
  font-size: 1.6rem;
  line-height: 2.9rem;
  color: #040404;
  max-width: 346px;
  width: 100%;
  align-self: end;
}

.about1 {
  background-image: url("/img/about1.png");
  width: 100%;
  height: auto;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
.about1 .inner {
  padding: 150px 30px 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about1__circle {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f5690b;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.about__title p {
  font-size: 4.8rem;
  font-weight: 800;
  color: #040404;
}
.about__title span {
  background: #ecfff7;
  border-radius: 100px;
  border: 6px solid #2a9467;
  padding: 5px 15px;
}

.about1__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 100px;
}
.about1__card .box {
  padding: 34px;
  border-radius: 10px;
  background-color: white;
  max-width: 528px;
  width: calc(50% - 14px);
  height: 263px;
  margin-right: 28px;
  margin-bottom: 28px;
}
.about1__card .box:nth-child(2n) {
  margin-right: 0;
}
.about1__card img {
  animation: hoverRotation 5s linear infinite;
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about1__card p {
  color: #040404;
}
.about1__card p:nth-of-type(1) {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 26px;
}
.about1__card p:nth-of-type(2) {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@keyframes hoverRotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.about2 .inner {
  padding: 150px 30px 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about2__title p {
  font-size: 4.8rem;
  font-weight: 800;
  color: #040404;
}
.about2__title span {
  background: #eef6ff;
  border-radius: 100px;
  border: 6px solid #0052af;
  padding: 5px 15px;
}

.about2__card {
  margin-top: 60px;
}
.about2__card .box {
  border-radius: 20px;
  background-color: #fafafa;
  padding: 47px 44px;
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.about2__card .box:last-of-type {
  margin-bottom: 0;
}
.about2__card .box:hover ~ img {
  background-color: red;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}
.about2__card .box__title {
  font-size: 2.2rem;
  color: #040404;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
}
.about2__card hr {
  border: none;
  background: none;
  border-right: solid 1px #cfcfcf;
  height: 27px;
  margin: 0 52px 0 34px;
}
.about2__card .box__ul {
  width: 100%;
  max-width: 240px;
  margin-right: 60px;
}
.about2__card .box__ul:last-of-type {
  margin-right: 0;
}
.about2__card .box__ul span {
  font-size: 1.2rem;
  color: #6d6d6d;
  line-height: 2.2rem;
}
.about2__card .box__ul p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: #040404;
}

.about2__icon1,
.about2__icon2,
.about2__icon3,
.about2__icon4,
.about2__icon5,
.about2__icon6 {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  transition: all 0.8s;
}

.about2__icon1 {
  width: 170px;
  height: auto;
  top: 14%;
  right: 30%;
}

.about2__icon2 {
  width: 238px;
  height: auto;
  top: 21%;
  right: 2%;
}

.about2__icon3 {
  width: 148px;
  height: auto;
  top: 32%;
  left: 6%;
}

.about2__icon4 {
  width: 64px;
  height: auto;
  top: 51%;
  right: 43%;
}

.about2__icon5 {
  width: 76px;
  height: auto;
  bottom: 24%;
  left: -1%;
}

.about2__icon6 {
  width: 181px;
  height: auto;
  bottom: 6%;
  right: 15%;
}

#portfolio .inner {
  max-width: 1316px;
  width: 100%;
  padding: 234px 30px 125px;
  display: flex;
  flex-direction: column;
}
#portfolio .portfolio_text-container {
  color: #040404;
  font-size: 8.4rem;
  font-weight: 700;
}
#portfolio .portfolio-container {
  margin-top: 55px;
}
#portfolio .portfolio-container .portfolio-menu {
  display: flex;
}
#portfolio .portfolio-container .portfolio-menu li {
  margin-right: 30px;
  color: #919191;
  font-size: 1.6rem;
  font-weight: 400;
  color: #3e3e3e;
  cursor: pointer;
  position: relative;
}
#portfolio .portfolio-container .portfolio-menu li::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  line-height: 40px;
  content: attr(title);
  color: #3e3e3e;
  border-bottom: 2px solid #3e3e3e;
  max-width: 0;
  overflow: hidden;
  transition: border-bottom 0.5s;
}
#portfolio .portfolio-container .portfolio-menu li:hover::after {
  max-width: 100%;
}
#portfolio .portfolio-container .portfolio-menu .selected {
  color: #3e3e3e;
  font-weight: 700;
}
#portfolio .portfolio-container .menu-section-wrap {
  position: relative;
  height: auto;
}
#portfolio .menu-website,
#portfolio .menu-branding,
#portfolio .menu-video,
#portfolio .menu-app,
#portfolio .menu-catalog {
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
}
#portfolio .menu-website .card-wrapper,
#portfolio .menu-branding .card-wrapper,
#portfolio .menu-video .card-wrapper,
#portfolio .menu-app .card-wrapper,
#portfolio .menu-catalog .card-wrapper {
  display: inline-block;
  position: absolute;
  max-width: 390px;
  padding: 10px;
  height: auto;
}
#portfolio .menu-website .card-wrapper img,
#portfolio .menu-branding .card-wrapper img,
#portfolio .menu-video .card-wrapper img,
#portfolio .menu-app .card-wrapper img,
#portfolio .menu-catalog .card-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}
#portfolio .menu-website .card-wrapper .card-text,
#portfolio .menu-branding .card-wrapper .card-text,
#portfolio .menu-video .card-wrapper .card-text,
#portfolio .menu-app .card-wrapper .card-text,
#portfolio .menu-catalog .card-wrapper .card-text {
  margin-top: 17px;
}
#portfolio .menu-website .card-wrapper .card-text p,
#portfolio .menu-branding .card-wrapper .card-text p,
#portfolio .menu-video .card-wrapper .card-text p,
#portfolio .menu-app .card-wrapper .card-text p,
#portfolio .menu-catalog .card-wrapper .card-text p {
  font-size: 14px;
  color: #919191;
}
#portfolio .menu-website .card-wrapper .card-text h3,
#portfolio .menu-branding .card-wrapper .card-text h3,
#portfolio .menu-video .card-wrapper .card-text h3,
#portfolio .menu-app .card-wrapper .card-text h3,
#portfolio .menu-catalog .card-wrapper .card-text h3 {
  font-size: 18px;
  font-weight: 700;
  color: #484848;
  margin-top: 2px;
}
#portfolio .active {
  visibility: visible;
  opacity: 1;
}

#contactPage .inner {
  padding: 171px 30px 125px;
  display: flex;
  flex-direction: column;
}
#contactPage .contactPage_text-container {
  color: #040404;
  font-size: 6.2rem;
  line-height: 8.4rem;
  font-weight: 700;
}
#contactPage .contactPage_container {
  margin-top: 55px;
}

.contactPage_container {
  margin-top: 160px;
}

.contactPage_subtitle {
  color: #afafaf;
  font-size: 1.6rem;
  font-weight: 500;
}

.contactPage_chk-box {
  margin-top: 26px;
}
.contactPage_chk-box input[type=checkbox] {
  display: none;
}
.contactPage_chk-box input[type=checkbox] + label {
  padding: 20px 40px;
  border-radius: 49px;
  border: 1px solid #707070;
  background: white;
  font-size: 3.8rem;
  font-weight: 700;
  color: #040404;
  cursor: pointer;
  display: inline-flex;
  margin-right: 20px;
  margin-bottom: 26px;
}
.contactPage_chk-box input[type=checkbox]:checked + label {
  border: none;
  color: white;
  background: #ff8737;
}/*# sourceMappingURL=style.css.map */