@charset "UTF-8";
/* common */
@import "reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@font-face {
  font-family: "KoPubWorld";
  src: url("fonts/KoPubWorld Batang_Pro Bold.otf.ttf") format("truetype");
  font-weight: normal;
}
/*
extraLight 200
light 300
regular 400
medium 500
semiBold 600
bold 700
black 900
*/
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  position: relative;
  color: #040404;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.inner {
  /* 1920 - (140 * 2) = 1640px */
  /* -패딩값 30씩 */
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
}

.point {
  color: #fff1e8;
}

/* common  */
/* 스크롤 스타일 변경 */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightblue;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ccc;
}

::-webkit-scrollbar-button {
  background-color: #eee;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button:start {
  background-color: #eee;
  border-radius: 5px 5px 0 0;
}

::-webkit-scrollbar-button:end {
  background-color: #eee;
  border-radius: 0 0 5px 5px;
}

#loader i {
  z-index: 1001;
  font-size: 40px;
  color: white;
}

#loader {
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  transition: all 0.5s;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.header {
  padding: 10px 0;
  height: auto;
  width: 100%;
}
.header__wrap {
  width: 100%;
  padding: 98px 0 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #141414;
}

.logo {
  width: 100%;
  height: 74px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}
.menu li {
  border: 1px solid #141414;
  border-radius: 60px;
  height: 34px;
  padding: 0 17px;
  font-size: 20px;
  color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.menu li:first-child {
  margin-left: 0;
}

.active-menu {
  background-color: #141414;
}
.active-menu a {
  color: white;
}

.footer {
  width: 100%;
  height: 100%;
  padding: 126px 0 224px;
  background-color: #141414;
}
.footer .inner {
  padding: 0 30px;
}

.footer_logoimg {
  width: 220px;
  height: 67px;
}

.footer_logo ul {
  margin-top: 48px;
}
.footer_logo ul li {
  margin-bottom: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 200;
}
.footer_logo ul li img {
  margin-right: 15px;
}

.footer_bg {
  background-image: url(/static/img/footerwin.png);
  width: 100%;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer_copy {
  font-size: 14px;
  color: #bfbfbf;
  position: absolute;
  bottom: -30%;
}

.footer_email {
  margin-top: 226px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer_email p {
  font-size: 32px;
  font-weight: 500;
  font-family: "KoPubWorld", serif;
  color: white;
}

.email_process {
  margin-top: 17px;
}

.main {
  width: 100%;
}
.main .inner {
  padding: 0 30px;
}

.about {
  width: 100%;
}

.main_title {
  font-family: "KoPubWorld", serif;
  text-align: left;
  position: relative;
  margin-top: 150px;
  font-weight: 500;
  font-size: 70px;
  line-height: 86.8px;
}

.main_studio {
  padding: 0 30px;
}

.main_about {
  margin-top: 48px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 200;
  line-height: 31px;
  display: flex;
  align-items: center;
}
.main_about p {
  padding: 0 15px;
}
.main_about span {
  line-height: normal;
  font-size: 58px;
  font-weight: 300;
  font-family: "KoPubWorld", serif;
}

.main_scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 135px;
  width: 100%;
  height: 54px;
}
.main_scroll a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scroll1 {
  margin-bottom: 10px;
  animation: updownAni 1.3s ease-in-out infinite alternate;
}

.scroll2 {
  animation: updownAni 1.5s ease-in-out infinite alternate;
}

@keyframes updownAni {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 2rem);
  }
}
.portfolio {
  width: 100%;
  height: 100%;
}

.portfolio_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 0 380px;
}

.work_wrap {
  width: calc(50% - 50px);
  height: 100%;
  margin-bottom: 150px;
}
.work_wrap a {
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
}
.work_wrap img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
.work_wrap p {
  font-size: 24px;
  font-weight: 200;
  margin-top: 20px;
}

.about .inner {
  padding: 0 30px;
}
.about .swiper {
  width: 100%;
  height: 100vh !important;
}
.about .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  height: 100vh !important;
}

.about_main {
  display: flex;
  flex-direction: column;
}
.about_main p {
  text-align: left;
  font-size: 24px;
}

.about_intro {
  width: 100%;
  height: 100%;
}

.about_option {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 30px;
}

.about1__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 250px 0;
  width: 50%;
}
.about1__card .box {
  padding: 45px;
  padding-left: 0;
  max-width: 380px;
  width: calc(50% - 14px);
  height: 263px;
}
.about1__card .box:nth-child(2n) {
  margin-right: 0;
}
.about1__card img {
  animation: hoverRotation 5s linear infinite;
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about1__card p {
  color: #040404;
}
.about1__card p:nth-of-type(1) {
  font-size: 20px;
  margin-top: 26px;
  font-family: "Silk Display", sans-serif;
}
.about1__card p:nth-of-type(2) {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.about_intro-title {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.about_intro-title span {
  font-family: "Silk Display", sans-serif;
  font-size: 20px;
  display: flex;
  font-weight: 500;
}
.about_intro-title p {
  font-size: 16px;
}

.about_intro-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 200px;
  z-index: 1;
  width: 700px;
  height: auto;
}
.about_intro-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about_address {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 180px 0;
  justify-content: space-evenly;
}
.about_address .about_address-box {
  display: flex;
  flex-direction: column;
}
.about_address .about_address-box p {
  font-family: "Silk Display", sans-serif;
}
.about_address .about_address-box p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 600;
}
.about_address .about_address-box p:nth-of-type(2) {
  font-size: 16px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 40px;
  font-weight: 300;
  margin-top: 35px;
}

.about_contact {
  width: 100%;
  padding: 0 0 150px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_contact a {
  width: 500px;
  height: 50px;
  border: 1px solid #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.about_contact a:hover {
  background: #2c2c2c;
  color: white;
  transition: all 0.2s;
}

input[type=text],
textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  white-space: pre;
  resize: none;
}

.contactPage01 .inner {
  padding: 200px 30px;
  display: flex;
  justify-content: center;
}
.contactPage01 .contact_title {
  font-size: 16px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}
.contactPage01 .contact_title p {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 26px;
}
.contactPage01 .contact_title .contact_span_title {
  font-size: 15px;
  font-weight: 200;
  line-height: 25px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.contactPage01 .contact_title .contact_span_title:nth-of-type(2) {
  margin-top: 0;
}
.contactPage01 .contact_title .contact_span_title span {
  font-weight: 600;
  margin-right: 20px;
}
.contactPage01 .contact_title img {
  width: 400px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact_img-sticky {
  position: sticky;
  top: 10%;
}

.contact_input {
  padding: 200px 0 150px 200px;
  width: 100%;
  max-width: 700px;
}

.input-box,
.textarea-box {
  display: flex;
  flex-direction: column;
}
.input-box label,
.textarea-box label {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.input-box input,
.textarea-box input {
  width: 100%;
  height: 35px;
  border: 1px solid #7e7e7e;
  background: none;
  margin-bottom: 25px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 300;
}

.check_input {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.check_input label {
  margin: 0;
}
.check_input input {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 15px 0 0;
}

.textarea-box {
  margin: 15px 0;
}
.textarea-box textarea {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 100px;
  background: none;
  white-space: break-spaces;
}

.fileUpload {
  margin-top: 15px;
}
.fileUpload label {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
.fileUpload input {
  width: 100%;
  height: 35px;
  border: 1px solid #7e7e7e;
  background: none;
  margin: 15px 0 25px;
  padding: 0;
  font-size: 15px;
  font-weight: 200;
  color: #2c2c2c;
}

input[type=file i]::-webkit-file-upload-button {
  border: none;
  width: 90px;
  height: 100%;
  background: #d1d1d1;
  font-weight: 200;
  font-size: 15px;
}

.privacy {
  display: flex;
  flex-direction: column;
}
.privacy label {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.privacy textarea {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 100px;
  background: none;
  white-space: break-spaces;
  line-height: 19px;
  margin-bottom: 15px;
}

.privacy_check {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.privacy_check label {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
.privacy_check input {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 15px 0 0;
}

.contact_submit {
  width: 100%;
  height: 45px;
  margin: 50px 0 0 0;
}
.contact_submit button {
  font-size: 16px;
  width: 100%;
  height: 100%;
  border: 1px solid #7e7e7e;
  background: none;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_submit button:hover {
  background: #1f1f1f;
  color: white;
  transition: all 0.2s;
}

span.reddot {
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 100%;
  background: red;
  margin: 0 8px;
}/*# sourceMappingURL=style.css.map */