{% load static %}
<section class="portfolio" id="portfolio">
  <div class="inner">
    <div class="portfolio_wrap">
      <div class="work_wrap" data-aos="fade-up" data-aos-duration="1500">
        <a href="/portfolio/1"><img class="work1" src="{% static "img/work1.png" %}" alt="작업"></a>
        <p>CALMFLOW</p>
      </div>
      <div class="work_wrap" data-aos="fade-up" data-aos-duration="1500">
        <a href="/portfolio/1"><img class="work1" src="{% static "img/work2.jpg" %}" alt="작업"></a>
        <p>CALMFLOW</p>
      </div>
      <div class="work_wrap" data-aos="fade-up" data-aos-duration="1500">
        <a href="/portfolio/1"><img class="work1" src="{% static "img/work2.jpg" %}" alt="작업"></a>
        <p>CALMFLOW</p>
      </div>
      <div class="work_wrap" data-aos="fade-up" data-aos-duration="1500">
        <a href="/portfolio/1"><img class="work1" src="{% static "img/work1.png" %}" alt="작업"></a>
        <p>CALMFLOW</p>
      </div>
    </div>
  </div>
</section>