{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="925house"/>
    <meta http-equiv="static" "imagetoolbar" content="no">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="title" content="925house"/>
    <meta name="keywords" content="925house"/>
    <meta name="robots" content="index, follow"/>
    <meta name="description" content="925house"/>

    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="925house"/>
    <meta property="og:title" content="925house"/>
    <meta property="og:description" content="925house"/>
    <meta property="og:image" content="img/"/>
    <meta property="og:url" content="URL"/>

    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="925house"/>
    <meta property="twitter:title" content="925house"/>
    <meta property="twitter:description" content="925house"/>
    <meta property="twitter:image" content="img/"/>
    <meta property="twitter:url" content="URL"/>

    <title>925house</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}"/>

    <!-- css 파일 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js" integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!-- js 파일 -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.12.0/matter.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script defer="defer" src="{% static "js/loader.js" %}"></script>
    <script defer="defer" src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/jquery.smooth-scroll.js" %}"></script>
    <script defer="defer" src="{% static "js/portfolio.js" %}"></script>

  </head>

  <body>

    <div id="loader">
      <!-- <i class='bx bx-loader-circle bx-spin'></i> -->
      <img src="{% static "img/loadingg.gif" %}" alt="다음페이지">
    </div>
    <section class="header">
      <div class="inner">
        <div class="header__wrap">
          <a href="/"><img class="logo" src="{% static "img/logo.png" %}" alt="로고"></a>
          <ul class="menu">
            <li>
              <a href="/about">ABOUT</a>
            </li>
            <li>
              <a href="/portfolio">PORTFOLIO</a>
            </li>
            <li>
              <a href="/contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    {% include "portfolio-fix.html" %}
    <!-- matter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.14.2/matter.min.js"></script>
    <script>
      AOS.init();
    </script>
  </body>

</html>
